<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center" style="padding: 1rem!important;">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">
                  <span>¡Bienvenidos a EvalúaMe! </span> 
                  <!-- <p class="text-white-50 mb-5">¡Bienvenidos a <span> EvalúaMe </span> </p> -->
                </h2>
                <br>
                <br>
                <div class="form-outline form-white mb-4">
                  <p class="mb-0">Estamos encantados de tenerte aquí y esperamos que disfrutes de todas las funcionalidades que nuestra aplicación tiene para ofrecerte.
                  <!-- <p class="small mb-5 pb-lg-2"><a class="text-white-30" href="#!">Forgot password?</a></p> -->
                </div>
                <div>
                  <p class="mb-0">VERIFICA TU CONTRASEÑA : <a href="https://sites.google.com/view/evaluame-contrasenias/inicio" class="text-white-50 fw-bold" style="color: darkgoldenrod;"> INGRESA AQUI</a>
                  </p>
                </div>

                <br>
                <br>
                <div class="form-outline form-white mb-4">
                  <p>	🚩 🔔 Recuerda: Estamos realizando una aplicación para evalúar a los docentes de la UPS, ayúdanos a probarla. 🔔🚩</p> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>